@media (min-width: 992px) and (max-width: 1199px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
}

.ul {
    white-space: nowrap;
    display: inline;
  }
  
.ul, li {
    list-style: none;
    display: inline;
  }

.welcome-single-slide {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.welcome-single-slide .project_title a > h5 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.welcome-single-slide .project_title {
    position: absolute;
    content: "";
    bottom: -300px;
    left: 0;
    z-index: 3;
    background: #BED;
    padding: 30px;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
}

.welcome-single-slide:hover .project_title {
    bottom: 0;
}

.welcome-single-slide .post-date-commnents a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}

.welcome-single-slide .post-date-commnents a:hover {
    color: rgba(255, 255, 255, 0.9);
}


.welcome-single-slide .post-date-commnents a:first-child {
    margin-right: 30px;
}

.welcome-single-slide .post-date-commnents a:first-child:after {
    width: 2px;
    height: 80%;
    content: '';
    position: absolute;
    top: 10%;
    right: -14px;
    z-index: 2;
    background-color: #fff;
}


.welcome-post-sliders {
    position: relative;
    z-index: 1;
}

.welcome-post-sliders .owl-prev {
    position: absolute;
    width: 10%;
    background-color: transparent;
    height: 100%;
    top: 0;
    left: 0;
    cursor: url(images/core-img/back.png), auto !important;
    z-index: 9;
}

.welcome-post-sliders .owl-next {
    position: absolute;
    width: 10%;
    background-color: transparent;
    height: 100%;
    top: 0;
    right: 0;
    cursor: url(images/core-img/next.png), auto !important;
}

/* --------------------
:: 5.0 Top Feature Area CSS 
-------------------- */

.categories_area {
    padding: 80px 0 50px 0;
}

.single_catagory {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.single_catagory img {
    border-radius: 20px;
}

.catagory-title {
    width: 200px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .navbar-toggler {
        background-color: #f0f4f4;
        width: 100%;
        color: #dcacfc;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .post-favourite a,
    .post-comments a {
        margin-right: 7.5px;
    }

    .post-author a,
    .top_header_area .top_social_bar > a {
        margin-right: 15px;
    }

    .post-author a::after {
        right: -7px;
    }
    .footer-social-area .single-icon span {
        display: none;
    }
    .footer-social-area .single-icon:last-of-type > a > i {
        padding-right: 0;
    }
    .top_header_area .signup-search-area .search_button {
        margin-left: 15px;
    }
    .navbar-toggler {
        background-color: #f0f4f4;
        width: 100%;
        color:#dcacfc;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
    .pagination-area .page-status {
        margin-top: 30px;
    }
    #googleMap {
        height: 300px;
    }
    .comment-wrapper .comment-author {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .single_comment_area::after {
        display: none;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 30px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 10px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 15px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #googleMap {
        height: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pagination-area .page-status {
        margin-top: 0;
    }
    #googleMap {
        height: 500px;
    }
    .comment-wrapper .comment-author {
        margin-right: 60px;
        width: 70px;
        height: 70px;
    }
    .single_comment_area::after {
        display: block;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 60px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 30px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 130px;
    }
}
